body {
    background-image:url('img/textura.jpg');
    background-repeat:repeat-y-x;
    color:#424242;
}

h2{
    font-size: 1em;
}

.viagem {
    clear:both;
}

li {
    padding: 5px;
}

li:nth-child(odd) {
    background-color: #E7E7E7;
}

li:nth-child(even) {
    background-color: #F2F1F0;
}

#controls {
    clear:both;
}

.input {
    height: 30px;
    margin-top: 10px;
    placeholder: "Cidade de origem"
}

.well {
    padding: 5px;
    margin: 5px auto 5px;
}

#voltar {
    float: left;
    margin-top: 5px;
}

#avancar {
    float: right;
    margin-top: 5px;
}

